# Core Django
Django==5.2.5
gunicorn==23.0.0
whitenoise==6.9.0

# Database
psycopg2-binary==2.9.10
dj-database-url==3.1.0

# Environment
python-dotenv==1.2.1

# Security
django-ratelimit==4.1.0

# Utilities
requests==2.32.5
